<div class="o-grid">
      <app-atm-card class="atm__card" *ngFor="let item of musicList"
            image="{{item.images[0].url}}" 
            textName="{{item.name}}" 
            textArtists="{{item.artists[0].name}}">
      </app-atm-card>
</div>
