button {
  background-color: #4CAF50;
  border-radius   : 20px;
  border          : none;
  color           : white;
  padding         : 10px 30px;
  text-align      : center;
  font-size       : 20px;
  margin          : 4px 2px;
  cursor          : pointer;
  width           : 100%;
  box-shadow      : 3px 3px 5px 3px rgb(175, 175, 175);
}

button:hover {
  background-color: #242424;
}