  <div class="o-grid">
    <app-atm-card *ngFor="let item of musicList"
          image="{{item.track.album.images[0].url}}" 
          textName="{{item.track.name}}" 
          textArtists="{{item.track.artists[0].name}}">
    </app-atm-card>
</div>