.o-grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    width: 100%;
}

@media (max-width: 800px) {
    .o-grid {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .o-grid {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}