.title__favorite {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: xx-large;
}

@media (max-width: 800px) {
    .title__favorite {
            margin: 20px;
            font-size: large;
    } 
}

@media (max-width: 600px) {
    .title__favorite {
            margin: 20px;
            font-size: medium;
    } 
}