#container__login {
    margin             : 0;
    padding            : 0;
    background-image   : url(../../../../assets/img/fondo4.jpg);
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 100vh;
}

.login-box {
    width        : 320px;
    height       : 420px;
    background   : rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    color        : black;
    top          : 50%;
    left         : 50%;
    position     : absolute;
    transform    : translate(-50%, -50%);
    box-sizing   : border-box;
    padding      : 70px 30px;
    box-shadow   : 3px 3px 5px 3px rgb(175, 175, 175);
}

.logo__login {
    width        : 150px;
    height       : 150px;
    border-radius: 50%;
    position     : absolute;
    top          : -50px;
    left         : calc(50% - 70px);
    box-shadow   : 3px 3px 5px 3px rgb(175, 175, 175);
}

.login-box h1 {
    margin-top   : 80px;
    margin-bottom: 0px;
    padding      : 0 0 20px;
    text-align   : center;
    font-size    : 30px;
}

@media (max-width: 320px) {
    #container__login {
        background-image   : url(../../../../assets/img/responsive_fondo_login.png);
    }
    
    .login-box {
        width        : 250px;
        height       : 300px;
    }

    .logo__login {
        width        : 100px;
        height       : 100px;
        left         : calc(50% - 50px);
    }
    
    .login-box h1 {
        margin-top   : 40px;
    }
}