<div id="container__login">
  <div class="login-box">
    <img class="logo__login" src="../../../../assets/img/logo2.png" alt="Avatar Image">
    <h1>Entrar aqui!</h1>
    <app-atm-btn-login class="login"></app-atm-btn-login>
  </div>
</div>