button{
    cursor: pointer;
    width: 100%;
    font-size: large;
    box-shadow: 3px 3p 5px 3px rgba(255, 255, 255, 0.705);
    border-radius: 20px;
}

button:hover{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #4CAF50;
    color: white;
}