<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="topnav" id="myTopnav">
        
        <a class="active"><app-atm-btn-home></app-atm-btn-home></a>

        <div class="btn">
            <a></a>
            <a class="btn_i"><app-atm-btn-favorite></app-atm-btn-favorite></a>
            <a class="btn_i"><h4>{{userName}}</h4></a>
            <a class="btn_i"><app-atm-btn-logout></app-atm-btn-logout></a>
        </div>

        <a class="icon" (click)="navResponsive()">
            <em class="fa fa-bars"></em>
        </a>
    </div>

</body>