* {
    margin : 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  /* height: 70px; */
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #494949;
  color: white;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
      display: none;}
      
  .topnav a.icon {
    float: right;
    display: block;
  }

  .btn{
    display: flex;
    flex-direction: column;
    }

    .btn_i{
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
    a .active{
        width: 20px;
        height: 20px;
    }

    .btn_i{
        width: 50%;
    }
}