.atm-card {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.664);
    margin: 10px;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    &__image {
        width: 100%;
        border-radius: 20px;
    }

    &__name {
        /* margin-bottom: 0px; */
        font-family: sans-serif;
        font-size:x-small; 
    }
}

.atm-card:hover{
    -webkit-transform:scale(1.3);transform:scale(1.1);
}