#logo__Home {
    cursor: pointer;
    height: 100px;
    width : 100px;
}

/* Invisible texto */
figcaption {
    display   : none;
    transition: all .5s;
}

/* Visible texto */
figure:hover>figcaption {
    position: absolute;
    display : block;
    text-align: center;
}

figure{
    padding: 0;
    margin: 0;
}